.inventory {
  margin: 20px;
}

.title-container {
  margin-bottom: 10px;
}

.photos-container {
  display: flex;
  gap: 10px;
}

.photo-container {
  width: 200px;
  margin-right: 20px;
}

.photo-container img {
  width: 100%;
  object-fit: fill;
}